.td-hr{
	height: 4px;
	background-image:	url(../../common/img/txtformating/bg-hr.gif);
	background-repeat: repeat-x;
	background-position: left;
}
.TD-FightLoggingBox-M{
	background-image: url(../img/rassa/mframe/Fight_Logging_Box/bg-FightLoggingBox-M.gif);
	background-repeat: repeat-y;
	padding: 3px 7px 3px 7px;
}
.TD-FightLoggingBox-MT{
	background-image: url(../img/rassa/mframe/Fight_Logging_Box/bg-FightLoggingBox-MT.gif);
	background-repeat: repeat-y;
}
.TD-Fight-OunCommandAction{
	background-color: #E8F7FF;
	font-family: Tahoma;
	font-size: 11px;
	color:#434343;
	padding: 3px 3px 3px 3px;
}
.TD-Fight-EnemyCommandAction{
	background-color: #FEFBD6;
	font-family: Tahoma;
	font-size: 11px;
	color:#434343;
	padding: 3px 3px 3px 3px;
}
.TD-Fight-SystemAction{
	background-color: #FCDDDE;
	font-family: Tahoma;
	font-size: 11px;
	color:#434343;
	padding: 3px 3px 3px 3px;
}
.S-FightComment{
	color: #9D9D9D;
	font-size: 10px;
}
.S-FightTimeSystem{
	font-weight: bold;
	background-color: Red;
	color: White;
	padding: 0px 2px 0px 2px;
	white-space: nowrap;
}
.S-FightTimeAll{
	font-weight: bold;
	padding: 0px 2px 0px 2px;
	white-space: nowrap;
}
.S-FightTimeOun{
	font-weight: bold;
	background-color: #009912;
	color: White;
	padding: 0px 2px 0px 2px;
}
.S-FightDamageNormal{
	font-weight: bold;
	color: White;
	background-color:#006699;
	padding: 0px 2px 0px 2px;
	white-space:nowrap;
}
.S-FightDamageCritical{
	font-weight: bold;
	color: White;
	background-color:#BB1218;
	padding: 0px 2px 0px 2px;
	white-space:nowrap;
}
.S-FightDamageMagic{
	font-weight: bold;
	color: White;
	background-color: #4169E1;
	padding: 0px 2px 0px 2px;
	white-space:nowrap;
	}
.S-Log-Human{
	font-family: Tahoma;
	font-size: 11px;
	color: #003399;
	font-weight: bold;	
	white-space: nowrap;
}
.S-Log-Elf{
	font-family: Tahoma;
	font-size: 11px;
	color: #006600;
	font-weight: bold;
	white-space: nowrap;
	}
.S-Log-Gnome{
	font-family: Tahoma;
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	white-space: nowrap;
}
.S-Log-Ork{
	font-family: Tahoma;
	font-size: 11px;
	color: #660000;
	font-weight: bold;
	white-space: nowrap;
}



.S-Live-Human{
	font-family: Tahoma;
	font-size: 10px;
	color: #003399;
	font-weight: bold;	
	white-space: nowrap;
	cursor:pointer;
}
.S-Live-Elf{
	font-family: Tahoma;
	font-size: 10px;
	color: #006600;
	font-weight: bold;
	white-space: nowrap;
	cursor:pointer;
	}
.S-Live-Gnome{
	font-family: Tahoma;
	font-size: 10px;
	color: #333333;
	font-weight: bold;
	white-space: nowrap;
	cursor:pointer;
}
.S-Live-Ork{
	font-family: Tahoma;
	font-size: 10px;
	color: #660000;
	font-weight: bold;
	white-space: nowrap;
	cursor:pointer;
}
.S-Live-Bot{
	font-family: Tahoma;
	font-size: 10px;
	color: #02ADEF;
	font-weight: bold;
	white-space: nowrap;
	cursor:pointer;
}
.S-DEAD-Human{
	font-family: Tahoma;
	font-size: 10px;
	color: #003399;
	font-weight: bold;
	text-decoration: line-through;
	white-space: nowrap;
	cursor:pointer;
}
.S-DEAD-Elf{
	font-family: Tahoma;
	font-size: 10px;
	color: #006600;
	font-weight: bold;
	text-decoration: line-through;
	white-space: nowrap;
	cursor:pointer;
}
.S-DEAD-Gnome{
	font-family: Tahoma;
	font-size: 10px;
	color: #333333;
	font-weight: bold;
	text-decoration: line-through;
	white-space: nowrap;
	cursor:pointer;
}
.S-DEAD-Ork{
	font-family: Tahoma;
	font-size: 10px;
	color: #660000;
	font-weight: bold;
	text-decoration: line-through;
	white-space: nowrap;
	cursor:pointer;
}


.TD-Fight-TimerBox{
	width: 60px;
	text-align: center;
	color: White;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
}
.TD-Fight-TimerDamageBox{
	width: 148px;
	text-align: center;
	color: #535353;
	font-family: Tahoma;
	font-size: 10px;
	height: 17px;
}
.TD-Fight-TimerTXTBox{
	text-align: center;
	color: #535353;
	font-family: Tahoma;
	font-size: 10px;
	height: 16px;
}
.S-Fight-System{
	color: White;
	background-color: #006699;
	padding:  0px 2px 0px 2px;
	font-weight: bold;
}

.TB-Fight-Controls{
	height: 179px;
	width: 100%;
	text-align: center;
}
a.comment{
	color:#02ADEF;
	font-weight: bold;
}
a.comment:hover{
	color:#12439C;
	font-weight: bold;	
}


.TD-MF-Floging-L{
	width: 19px;
	height: 28px;
	background-image: url(../img/rassa/mframe/logging_pages/BG-MF-Floging-L.gif);
	background-repeat: no-repeat;
}
.TD-MF-Floging-C{
	height: 28px;
	background-image: url(../img/rassa/mframe/logging_pages/BG-MF-Floging-C.gif);
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: White;
	padding: 3px 5px 3px 5px;
}
.TD-MF-Floging-R{
	width: 19px;
	height: 28px;
	background-image: url(../img/rassa/mframe/logging_pages/BG-MF-Floging-R.gif);
	background-repeat: no-repeat;
}
.TB-FM-SmlUL-Oun{
	background-color: #E8F7FF;
	font-family: Tahoma;
	font-size: 11px;
	color:#434343;
	padding: 3px 3px 3px 3px;
	width: 130px;
	text-align: center;
	vertical-align: top;
}
.TB-FM-SmlUL-Enemy{
	background-color: #FEFBD6;
	font-family: Tahoma;
	font-size: 11px;
	color:#434343;
	padding: 3px 3px 3px 3px;
	width: 130px;
	text-align: center;	
	vertical-align: top;
}

.S-Live-DemoMonstr{
	font-family: Tahoma;
	font-size: 10px;
	color: #9900ff;
	font-weight: bold;
	white-space: nowrap;
	cursor:pointer;
}

.S-DEAD-DemoMonstr{
	font-family: Tahoma;
	font-size: 10px;
	color: #9900ff;
	font-weight: bold;
	text-decoration: line-through;
	white-space: nowrap;
	cursor:pointer;
}
