body{
	margin: 0px 0px 0px 0px;
	background-color: #bcbcbc;
}
.TB-TGeneral{
	background-image: url(../img/rassa/topframe/bg-hgeneral.gif);
	height: 80px;
	background-repeat: repeat-x;
}
.TD-TImgSlot{
	width: 10%;
	vertical-align: top;
}
.TD-TMenuL{
	border-right: 1px solid White;
	font-family: Tahoma;
	font-size: 10px;
	color: White;
	padding-right: 3px;
	white-space: nowrap;
}
.TD-TMenuR{
	font-family: Tahoma;
	font-size: 10px;
	color: White;
	padding-left: 3px;
}
A.ATMenu{
	color: White;
	text-decoration: none;
}
A.ATMenu:hover{
	color: #00AEEF;
	text-decoration: underline;
}
.TB-GMenu{
	background-image:  url(../img/rassa/topframe/bg-top-menu.gif);
	background-repeat: repeat-x;	
}
.TD-GMenu{
	padding: 0px 1px 0px 1px;
	vertical-align: top;
	height: 48px;
	vertical-align: top;
}
.TD-GMenuS{
	padding: 0px 0px 0px 0px;
	vertical-align: top;
	height: 48px;
	vertical-align: top;
}