.bg {
	background-image: url(../images/rassa/bg-tab-top.gif);
	background-repeat: repeat-x;
}
.name {
	font-family: Verdana;
	font-size: 10px;
	color: #7f8080;
	text-transform:capitalize ;
}
.name div {
	
	font-size: 8px;
	margin-top:2px;
	
}
.orc {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #660000;
	text-decoration: none;
}
.ork {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#660000;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}


.elf {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #006600;
	text-decoration: none;
}
.people {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #003399;
	text-decoration: none;
}
.gnome {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	text-decoration: none;
}

.offline {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	/*color: #858383;*/
	text-decoration: none;
}



a.ork:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #660000;
	text-decoration: underline;
}

a.elf:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #006600;
	text-decoration: underline;
}
a.people:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #003399;
	text-decoration: underline;
}
a.gnome:hover   {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color:#006600;
	text-decoration: underline;
}


.demoMonstr {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color:#9900ff;
	text-decoration: none;
}

a.demoMonstr:hover   {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color:#9900ff;
	text-decoration: underline;
}

body {
	background-color: #f5f9ff;
	word-wrap:break-word;width:100%;left:30;
	margin: 0px 5px 5px 5px;
}

.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #280000;
	text-decoration: none;
}
.warning {
	color: #FF0000;
	font-weight: bold;
}
.to {
	background-color: #66CCFF;
}
.privat {
	background-color: #FF9999;
}
.blue {
	color: blue;
}
.fuchsia {
	color: fuchsia;
}
.red {
	color: red;
}
.gray {
	color: gray;
}
.green {
	color: green;
}
.maroon {
	color: maroon;
}
.navy {
	color: navy;
}
.olive {
	color: olive;
}
.purple {
	color: purple;
}
.teal {
	color: teal;
}
.orange {
	color: orange;
}
.chocolate {
	color: chocolate;
}
.darkkhaki {
	color: darkkhaki;
}
.sandybrown {
	color: sandybrown;
}
.black {
	color: black;
}

.DchatName
{
  margin-left:15px;
   cursor:pointer;

}

 a.ANButtom{
 color: White;
 text-decoration: none;
 }
 a.ANButtom:hover{
 color: #FFD700;
 text-decoration: none;
 }

 .D-ANButtom2{
 font-family: Tahoma;
 color: White;
 font-size: 10px;
 font-weight: bold;
 height: 20px;
 width: 90px;
 text-align: center;
 padding: 3px 4px 2px 4px;
 background-repeat: no-repeat;
 background-position: top;
 }

.Dbody{
margin-right:0px;
margin-left:0px;
margin-top:0px;
margin-bottom:0px;
background-color: #D3D3D3 ;
background-repeat:repeat-y;
}


.Blue {
	color: blue;
}
.Fuchsia {
	color: fuchsia;
}
.Gray {
	color: gray;
}
.Green {
	color: green;
}
.Maroon {
	color: maroon;
}
.Navy {
	color: navy;
}
.Olive {
	color: olive;
}
.Purple {
	color: purple;
}
.Teal {
	color: teal;
}
.Orange {
	color: orange;
}
.Chocolate {
	color: chocolate;
}
.Darkkhaki {
	color: darkkhaki;
}
.Sandybrown {
	color: sandybrown;
}
.lack {
	color: black;
}

		.menu {
			VISIBILITY: hidden;
			POSITION: absolute;
			BACKGROUND-COLOR: #d2d0d0;
			TOP: 0px;
			LEFT: 0px;
			border: 1px solid #737373;
		}
		A.menuItem {
			DISPLAY: block;
			FONT-WEIGHT: bold;
			FONT-SIZE: 10px;
			PADDING-BOTTOM: 2px;
			COLOR: #FFFFFF;
			margin:1px 1px 1px 1px;
			FONT-FAMILY: Tahoma;
			TEXT-DECORATION: none;
			padding: 3px 4px 3px 6px;
			BACKGROUND-COLOR: #45494b;
		}
		A.menuItem:hover {
			COLOR: #7db4ff;
			BACKGROUND-COLOR: #000000;
		}
/*New 20.05.09*/
.social
{
	color:#067320;
	font-style:oblique;
}