@tailwind base;
@tailwind components;
@tailwind utilities;

/* legacy global styles can stay, import them below if necessary */

:root {
  --chat-height: 30vh;
}

.game-body {
  min-height: calc(100vh - 70px);
  padding-bottom: var(--chat-height);
  overflow-y: auto;
  position: relative;
}
